#dark {
  background-image: url("img/moon.png");
  background-size: cover;
  /* position: fixed;
  right: 5vw;
  bottom: 7vh; */
  width:4vw;
  height:4vw;
  margin-right: .5vh;
}
#darktext {
  font-size: .4em;
  text-align: center;
  display: flex;
  align-items: center;
}
body.dark #dark {
  background-image: url("img/sun.png")
}
body.dark {
  background-color: #001a00;
  color: #e6ffe6;
}
body {
  color:#006300;
  margin: 0;
overflow-x: hidden;}
img {
  align-self: center;
  max-width: -webkit-fill-available;
  display: block
}
a {
  color: #002d00 }
a:hover, nav p a:hover {
  text-decoration: line-through }
header {
  padding: 2vh 1vw;
  background-color: #fff;
  color:#002d00;
  width: 96vw;
  position: fixed;
  justify-content: space-between
}
header, nav {
  display: flex;
  flex-direction: row;
}
nav {
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-evenly;
}
#homehead {
  position: unset;
}
#homehead nav {
  width: 45vw;
  align-items: flex-start;
  align-content: flex-start;
}
#headerimg {
  width: 75px;
}
header h1 a{
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px #002d00;
   }
header h1 a, header a, footer a,header a:hover {
  text-decoration: none }
@font-face {
  font-family: Avara;
  src: local("Avara"),
       url("Avara.woff"),url("Avara.woff2");
  font-weight: bold;
  font-weight: black;
  font-display:swap;
}
h1, h2, nav p {
  font-family: 'Avara',serif;
  font-weight: 900;
  margin: 0 }
h3, h4, p, button, .button {
  font-family: 'Times New Roman', serif;
}
nav p a{
  font-weight: 100;
  margin: 0 .5vw;
  -webkit-text-stroke:initial;
  font-size: 1em;}
h1 {
  font-size: 4em }
h2 {
  font-size: 3em;
  margin: 1vh 0 0 20vw}
h3 {
  font-size: 2.5em;
  margin: 1vh 0 1vh 5vw
}
p, button, .button {
  font-size: 2em;
  margin:1vh 0
}
p {
  margin-bottom: 3vh
}
h4 {
  font-size: 1.3em;
  margin:.5vh 0
}
p::selection, h2::selection, h3::selection, b::selection, em::selection, button::selection, .button::selection {
  color: #e6ffe6;
  background: #001a00; /* WebKit/Blink Browsers */
}
p::-moz-selection, h2::-moz-selection, h3::-moz-selection, b::-moz-selection, em::-moz-selection, button::-moz-selection, .button::-moz-selection {
  color: #e6ffe6;
  background: #001a00; /* Gecko Browsers */
}
a::selection {
  color:#fff;
  background: #001a00;
}
a::-moz-selection {
  color:#fff;
  background: #001a00;
}
body.dark p::selection, body.dark h2::selection, body.dark h3::selection, body.dark b::selection, body.dark em::selection, button::selection, .button::selection {
  color: #006300;
  background: #fff; /* WebKit/Blink Browsers */
}
body.dark p::-moz-selection, body.dark h2::-moz-selection, body.dark h3::-moz-selection, body.dark b::-moz-selection, body.dark em::-moz-selection, body.dark button::-moz-selection, body.dark .button::-moz-selection {
  color: #006300;
  background: #fff;/* Gecko Browsers */
}
body.dark a::selection {
  color:#002d00;
  background: #fff;
}
body.dark a::-moz-selection {
  color:#002d00;
  background: #fff;
}
body.dark a, body.dark header, body.dark nav {
  color:#fff;
}
body.dark header h1 a {
  -webkit-text-fill-color: #001a00;
  -webkit-text-stroke: 2px #fff
}
body.dark header {background-color: #001a00;}
button, .button {
  max-width:30vw;
  padding:1vh 1vw;
  margin: 2vh 0;
  background-color: #ffff;
  color: #002d00;
  border:2px solid #002d00;
  text-decoration: none;
}
button:hover, .button:hover {
  background-color: #e6ffe6;
  border:2px solid #001a00;
  color: #001a00;
  text-decoration: none;
}
body.dark button, body.dark .button {
  background-color: #001a00;
  color: #e6ffe6;
  border: 2px solid #e6ffe6;
  text-decoration: none;
}
body.dark button:hover, body.dark .button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #002d00;
  text-decoration: none;
}
.parent, .child, #contact {
  display: flex;
  flex-direction: column }
.child {
  margin: 1vh 5vw;
  width: 60vw }
.pullout { margin-left:15vw;
width: 70vw}
.child div {
  max-width: 60vw }
#homeimg {
  width: 60vw;
  margin: 0 0 0 35vw;
}
#contact {
  width: 50vw;
  margin: 1vh 5vw;
}
#contact2 {
  width: 30vw;
}
#contact2 div {
  align-items: center;
  margin-bottom: 1vh
}
#contact2 h2 { margin-left: 5vw}
#contact2 p {
  margin:0 0 0 1vw; font-size: 1.3em;
}
#topmargin {
  padding-top:20vh;
}
.section {
  display: flex;
  flex-direction: row;
  margin: 2vh 0 0 5vw;
  width: 80vw;
 }
.section a {
  width: 17vw;
  border: 2px solid #006300;
  margin-right: 3vw
}
#sectiontitle {
  margin-left: 25vw;
}
#section2 {
  margin-left: 10vw;
}
.border { border: 2px solid #006300}
.flexrow, .flexrowdcolm {
  display: flex;
  flex-direction: row;}
.flexend {
  justify-content: flex-end;
  align-items: flex-end; }
.triple,.double,.quad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:90vw;
  margin-left: 5vw;}
.triple img, .triple a{ width: 26vw}
.double img { width:40vw }
.quad img { width: 20vw }
.width80 { width:80vw }
.width90 { width: 90vw;}
.mb10 { margin-bottom: 10vh }
.mb5 { margin-bottom: 5vh }
.mt10 { margin-top: 10vh }
#more { width: 70vw }
#more a { width: 20vw }
.icon h3 {align-self: flex-end;}
.icon img {
  display: inline;
  width: 15vw;
  height: 15vw;
  margin: 0 1vw;
}
.icon .lm {
  display: inline;
}
.icon .nm {
  display: none;
}
body.dark .icon .lm {
  display: none;
}
body.dark .icon .nm {
  display: inline;
}
.icon2 {
  width: 5vw;
  height: 5vw
}
/* cap1- small w text, cap2 large, cap3- small, cap4 medium, cap5 medium w text */
.captionparent { overflow: hidden;margin: 0 5vw }
.cp1 {height: 25vw;}
.cap1, .cap3 { width: 25vw}
.cap1, .cap3 {margin-right: 5vw;}
.cap2 { width: 60vw }
.cap4,.cap5b { width:45vw }
.cap5 { width: 50vw }
.cap5 img { margin: 0 5vw 5vw 0}
.cap1 img { margin:0}
.cap1 p,.cap, .cap5b p {margin-left: 5vw}
.captiontext {
  width: 40vw;
  margin: 2vh 0 5vh 10vw
}
.twitterblock {
  display: flex;
  flex-wrap: wrap;
}
#tw1 { margin: 0 5vw 5vh }
#tw2 {margin: 0 5vw 5vh 10vw}
#tw3 {margin: 0 5vw 5vh 15vw}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:2px solid #002d00;
  border-bottom:2px solid #002d00;
  margin-top:10vh }
body.dark footer {
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
}
input, textarea, select {
  font-family: 'Times New Roman', serif;
  padding: 1vh 1vw;
  margin:0;
  font-size: .8em;
  background-color: #e6ffe6;
  color: #006300;
}
input, select {
  width:30vw;
}
#namedisplay {
  display: flex;
  flex-direction: row;
}
#namedisplay input {
  width: 20vw
}
#namedisplay p {
  padding-right: 3vw
}
textarea {
  width:40vw;
  height:20vh;
}

body.dark input, body.dark textarea, body.dark select {
  color: #001a00;
}
.shop div{
  margin: 2vh 3vw 2vh 3vw;
}
.shopdouble {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shopdouble div {
  width: 28vw;
}
.shopdouble div p {
  padding: 1vh 1vw
}
.shopindent {
  margin-left: 10vw;
}
.card {
  margin:0 5vw;
  height:90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card h3 {
  margin:0
}
.card p {
  margin: 0
}
canvas {
  position: absolute;
  width: 100vw;
  height: 100vh
}
@media (max-width:1064px) {
  nav {
    width: 60vw
  }
  .child {
    width: 70vw
  }
}

@media (max-width:768px) {
  header {
    flex-direction: column;
    width: 95vw;
    align-items: center;
   }
  header div {
    width: auto;
  }
  nav {
    width:50vw
  }
  #homehead nav {
    width: 55vw;
    margin: 1.5vh 0 0;
  }
  #topmargin {
    padding-top:30vh;
  }
  .flexrowdcolm {
    flex-direction: column;
  }
  p {
    font-size: 1.5em }
  .pullout {
    margin-left: 7vw;
    width: 80vw;
  }
  .child,#contact {
    width: 80vw }
  #contact2 {
    margin-left: 5vw;
    width: 60vw
  }
  .double, .triple {
    margin-bottom:3vh }
  .cap1 {
    width: 40vw;
    margin: 3vh 0 1vh 5vw
  }
  .cap5 { width: 50vw}
  .cap5b {width: 40vw}
  .captionparent .cap1 { margin: 3vh 5vw 1vh 0}
  .captiontext {width: 55vw}
  .shopdouble div { width: 37vw}
}
@media (max-width:500px) {
  header div {
    text-align: left;
    margin: 0
  }
  #homehead nav { width: 75vw}
  nav {width: 80vw}
  #dark { width:7vw; height:7vw; }

  #namedisplay input {
    width: 30vw
  }
  #contact2 img {
    width: 10vw;
    height: 10vw
  }
  input {
    width:60vw;
  }
  textarea {
    width:75vw;
    height:20vh;
  }
  button, .button {
    margin:2vh;
    width:30vw
  }
  .shopdouble div{
    width: 42vw
  }
  .shophome div, .shophome div a {
    max-width: initial;
  }
  .cp2 {  flex-wrap: wrap; }
  .cp2 .cap2 { margin:0 0 5vh 20vw; }

}
