body {
  color:#006300;
  margin: 0 }
img {
  align-self: center;
  max-width: -webkit-fill-available }
a {
  color: #002d00 }
a:hover, nav p a:hover {
  text-decoration: line-through }
header, header h1 a {
  margin: 2vh 1vw;
  color:#002d00;
}
header h1 {
  /* width: 20vw; */
}
header h1 a{
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px #002d00;
   }
header h1 a, header a, footer a,header a:hover {
  text-decoration: none }
header h3 {
  color:#002d00;
  margin: 0 0 -2vh;
  font-size: 2.5em;
  -webkit-text-stroke:initial }
header, nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between }
nav {
  margin:4vh 2vw 0 0;
  flex-wrap: wrap;
}
#header1 {
  margin-right: 3vw
}
header div div {
  display: flex;flex-direction: row; align-items: center;
  width: auto;
  }
  #new {
    right: 0;
    width: 7vw;
    z-index: -1;
    margin: 0 0 3vh -2vw;
  }
header div {
    width: 45vw;
    text-align:center;
  }
@font-face {
  font-family: Avara;
  src: local("Avara"),
       url("Avara.woff"),url("Avara.woff2");
  font-weight: bold;
  font-weight: black;
  font-display:swap; 
}
h1, h2, nav p {
  font-family: 'Avara',serif;
  font-weight: 900;
  margin: 0 }
nav p a{
  font-weight: 100;
  margin: 0 .5vw;
  -webkit-text-stroke:initial;
  font-size: 1.2em;}
h1 {
  font-size: 5em }
h2 {
  font-size: 4em;
  text-align: center }
p, h3, button {
  font-family: 'Times New Roman', serif;
  font-size: 2em;
  margin:1vh 0 }

.parent, .child {
  display: flex;
  flex-direction: column }
.parent {
  align-items: center }
.child {
  margin: 1vh 5vw;
  width: 60vw }
.child div, .work div a {
  max-width: 60vw }
.work .border {
  margin: 2vh 0 }
.border p {
  border-top: 2px solid #002d00;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1vh 5vw;
  margin: 0 0 1vh;
  flex-direction: column; }
.triple,.double,.quad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:90vw }
.triple img, .triple a,#img1 {
  width:30vw;
  }
.triple img {
  width: 26vw;
  margin: 0 2vw
}
.double img {
  width:40vw }
.quad img {
  width: 20vw
}
.border {
  border: 2px solid #002d00 }
.work div a {
  display: flex }
#img2,.img2 {
  width:25vw }
#img3 {
  margin-bottom: 3vh;
}
#img4,.img4 {
  width:35vw;
  padding-right:5vw
}
#img5 {
  margin: 1 7vw 5vh;
}
.width80 {
  width:80vw }
.mb10 {
  margin-bottom: 10vh }
.mt10 {
  margin-top: 10vh }
.flexrow {
  display: flex;
  flex-direction: row;
  width: 98vw }
.flexend {
  justify-content: flex-end;
  align-items: flex-end;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:2px solid #002d00;
  border-bottom:2px solid #002d00;
  margin-top:10vh }
#dark {
  background-image: url("img/moon.png");
  background-size: cover;
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  width:5vw;
  height:5vw;
}
body.dark #dark {
  background-image: url("img/sun.png")
}
body.dark {
  background-color: #001a00;
  color: #e6ffe6;
}
body.dark .border {
  border-color: #fff;
}
body.dark .border p {
  border-top: 2px solid #fff;
}
body.dark a, body.dark header, body.dark header h3 {
  color:#fff;
}
body.dark header h1 a {
  -webkit-text-fill-color: #001a00;
  -webkit-text-stroke: 2px #fff
}
body.dark footer {
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
}
#selfie {
  margin-bottom: -10vh;
  width:28vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 46vw;
  background-image: url("img/self1.png")
}
body.dark #selfie {
  background-image: url("img/self2.png")
}
input, textarea {
  font-family: 'Times New Roman', serif;
  padding: 2vh 2vw;
  margin: 2vh 2vw;
  font-size: 1em;
  background-color: #e6ffe6;
  color: #006300;
}
input {
  width:30vw;
}
textarea {
  width:40vw;
  height:20vh;
}
button {
  width:15vw;
  font-size: 1em;
  padding:1vh 0;
  margin: 2vh 0;
  background-color: #e6ffe6;
  color: #006300
}
body.dark input, body.dark textarea, body.dark button {
  color: #001a00;
}
.shop div{
  margin: 2vh 3vw 2vh 3vw;
}
.shopdouble {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shopdouble div {
  width: 28vw;
}
.shopdouble .border p {
  padding: 1vh 2.5vw
}
.card {
  margin:0 5vw;
  height:90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card h3 {
  margin:0
}
.card p {
  margin: 0
}
canvas {
  position: absolute;
  width: 100vw;
  height: 100vh
}

@media (max-width:768px) {
  header {
    flex-direction: column }
  header div {
      width: auto;
      margin-right: 7vw
    }
  h1 {
    font-size: 4em;}
  h2 {
    font-size: 3em }
  nav {margin:2vh 0;
  align-items: center;
justify-content: center;
text-align: center;}
#header1 {
  text-align: center;
}
  #new {
    width: 10vw;
  }
  .child div, .work div a {
    max-width: 80vw }
  p {
    font-size: 1.5em }
  .flexrow {
    flex-direction: column }
  .triple,.double {
    flex-direction: column  }
  .child,header,.triple img, .triple a,.double img,#img1,#img2,.img2 {
    width: 90vw }
  .double img, .triple img {
    margin-bottom:5vh }
  #dark {
    width: 10vw;
    height: 10vw;
    bottom: 17vh;
  }
  #selfie{
    width: 50vw;
    height:72vw;
  }

  .shopdouble div { width: 37vw}
}
@media (max-width:500px) {
  header div {
    text-align: left;
    margin: 0
  }
  #new {
    width: 20vw;
  }
  nav {margin:6vh 0 0;}
  #dark {
    width: 15vw;
    height: 15vw;
    bottom:5vh;
  }
  #img4,.img4 {
    width:90vw;
    margin-left:5vw
  }
  #selfie {
    width: 90vw;
    height: 130vw;
  }
  input {
    width:60vw;
  }
  textarea {
    width:75vw;
    height:20vh;
  }
  button {
    margin:2vh;
    width:30vw
  }
  .shopdouble div{
    width: 42vw
  }
  .shophome div, .shophome div a {
    max-width: initial;
  }
}
